/* Default mode: light */
:root {

    --text-primary-generic: #ffffff;
    --text-secondary-generic: #001d4c;

    --bg-primary-generic: #001d4c;
    --bg-secondary-generic: #ffffff;
    

    --btn-text-primary-generic: #ffffff;
    --btn-text-secondary-generic: #001d4c;

    --btn-bg-primary-generic: #001d4c;
    --btn-bg-secondary-generic: #ffffff;


}